html,
body {
  min-height: 100vh;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}

/***** Navbar *****/
.navbar-brand {
  text-decoration: none;
  color: inherit;
  font-size: xx-large;
  font-weight: 600;
  border-bottom: .25em solid transparent;
}
.nav-link {
  padding: .25em 0;
  font-weight: bold;
  color: #333;
  background-color: transparent;
  border-bottom: .25em solid transparent;
}
.nav-link:hover,
.nav-link:focus,
.brand-link:hover {
  border-bottom-color: #333;
}
.navbar-nav {
  float: right;
}

/*******About section*******/
.about {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.description {
  font-size: 1.25em;
  font-weight: 300;
}

/*******Footer Section*******/
.social-links {
  text-align: center;
}
.cv {
  font-family: cursive;
}
.copyright {
  text-align: center;
  padding: 1em;
}

@media (max-width: 735px) {
  .navbar-nav {
    float: left;
  }
}
