{{ partial "head" . }}
  <body>
    <!-- Header -->
    {{ partial "header" . }}
    <div class="container-fluid">
      <div class="container">
        <h1 class="heading">Hi, I'm Anurag.</h1>
        <p class="description">I'm currently working as a Senior Software Engineer at
        <a href="https://www.deliveryhero.com/">Delivery Hero</a>.<br/>
        I'm an engineer whose interest also lies in music, finance and rock climbing.</p>
      </div>
    </div>
    <!-- Social Icons -->
    {{ partial "social.html" . }}
    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
