{{ partial "head" . }}
  <body>
    <!-- Header -->
    {{ partial "header" . }}
    <div class="container-fluid">
      <div class="container">
        <h1 class="heading">Hi, I'm Anurag.</h1>
        <p class="description">I'm currently working as a full-stack web developer at
        <a href="http://www.weinvest.net">WeInvest</a>.<br/>
        I'm a software engineer whose interest also lies in music and finance.</p>
      </div>
    </div>
    <!-- Social Icons -->
    {{ partial "social.html" . }}
    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
