<div class="container-fluid">
  <div class="container">
    <h2 class="text-center">{{ .Site.Data.projects.name }}</h2>
    <div class="panel panel-default">
      <div class="panel-body">
      {{ range $i, $el := .Site.Data.projects.source }}
        <h4>
          <i class="{{ .icon }}"></i>&nbsp;&nbsp;
          {{ if $el.url }}
            <a class="project-name" href="{{ $el.url }}"><b>{{ $el.name }}</b></a>
          {{else}}
            <a class="project-name-without-url"><b>{{ $el.name }}</b></a>
          {{ end }}
          &nbsp;-&nbsp;{{ $el.description }}
        </h4>
      {{ end }}
      </div>
    </div>
  </div>
</div>
